<!DOCTYPE html>
<html>
<head>
    <title>Pitching Data</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Batting Data</h1>
    <form action="/batting" method="post">
        <label for="batter">Select Batter:</label>
        <select name="batter" id="batter">
            {% for batter in batters %}
                <option value="{{ batter }}">{{ batter }}</option>
            {% endfor %}
        </select>
        <br><br> <!-- Add line breaks -->
        <label for="num_games">Number of Games:</label>
        <input type="number" name="num_games" id="num_games" min="1">
        <br><br> <!-- Add line breaks -->
        <button class="button" type="submit">Get Summary Statistics</button>
    </form>
</body>
</html>